/* Split the screen in half */
.split {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 30px;
  }
  
  /* Control the left side */
  .left {
    left: 3%;
    background-color: darkgray;
    position: absolute;
    top: 1010px;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 51%;
    width: 24%;
  }
  
  /* Control the right side */
  .right {
    right: 3%;
    background-color: lightgray;
    position: absolute;
    top: 1095px;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 71%;
    width: 40%;
  }

p{
    text-align: center;
    font-size: 20px;
}

#pimg{
    text-align: center;
    width: 100%;
}