/* Split the screen in half */
section{
  column-gap: 10%;
}

.split {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 30px;
  }
  
  /* Control the left side */
  .left {
    background-color: darkgray;
    position: absolute;
    top: 800px;
    left: 4%;
    text-align: center;
    height: 60%;
    width: 20%;
  }
  
  /* Control the right side */
  .right {
    background-color: lightgray;
    position: absolute;
    top: 800px;
    left: 30%;

    text-align: center;
    height: 40%;
    width: 40%;
  }

p{
    text-align: center;
    font-size: 20px;
}

#pimg{
    text-align: center;
}