.column {
    float: left;
    width: 615px;
    padding: 0.5%;
    height: 677px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #h2center{

    text-align: center;
    
    }
p{

    text-align: center;
    font-size: 20px;
        
    }
    #div2:hover{
      box-shadow: 5px 5px 10px #3e8e41;
    }
    